data
node_modules
*/*/node_modules
.dockerignore
Dockerfile
npm-debug.log
.git
.hg
.svn
*/*/dist
*/*/www
.coveralls.yml
.gitignore
.idea
.travis.yml
env.list
.DS_Store
*/*/.DS_Store
*/*/.env.development